/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.form-check-input{
  font-size: 6px !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.mySelect__placeholder {
  color: red !important;
  font-size: 9px;
}

.modal-header{
  background-color: #021130e8;
}
